.container {
    display: flex;
    
    flex-direction: column;
    margin-top: 20%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
  
    .item {
      height: 30px;
      
    }
  
    input {
       
        outline: none;
      width: 300px;
      font-size: 20px;
      border-radius: 10px;
    }
  
    button {
      width: 310px;
      font-size: 20px;
      border-radius: 10px;
      background-color: white;
      outline: none;
    }
  }
  