ul.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}
ul.nav-links li {

  float: none;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 90px;
}
ul.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15.86px;
}
a:hover{
  transition: all .4s ease;
  background-color:rgb(123, 224, 177) ;

}

@media screen and (max-width: 800px) {

ul.nav-links li {
    float: none;

  }
}