
<ul class="nav-links" >

    <li><a [routerLink]="['/home/players']">Players</a></li>
    <li><a [routerLink]="['/home/teams']">Teams</a></li>
    <li><a [routerLink]="['/home/games']">Games</a></li>
    <li><a [routerLink]="['/home/stats']">Stats</a></li>
    <li><a [routerLink]="['/home/details']">Details</a></li>
    <li><a class="btn1" [routerLink]="['/reg']">Register</a></li>
    <li><a class="btn2" [routerLink]="['/login']">Login</a></li>
    <li class="logout"><a  (click)="logout()" style="color: red; cursor: pointer;" >Logout</a></li>


</ul>