<div class="cont">
   <app-nav-bar></app-nav-bar>
   <div class="items">
      
       
        <div class="cont2">
            <div class="item3">
                <div class="bigtxt">
                    <span style="letter-spacing: 2px;">Top 10 rebound</span><br><br>
                    <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
                    
                </div>
                <a href="https://www.youtube.com/watch?v=2xC852WZWXU"><input type="button" name="button1" class="button2" value="WATCH"></a>
            </div>
            <div class="item4">
                    <div class="bigtxt">
                <span style="letter-spacing: 1.5px;">Top 10 dunk of the decade</span><br><br>
                <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
                
            </div>
            <a href="https://www.youtube.com/watch?v=ue1NT3QhuVU"><input  type="button" name="button1" class="button2" value="WATCH" style="    background-color: white;
                color: black;"></a></div>
            

   </div>
   <div class="cont2">
    <div class="item3">
        <div class="bigtxt">
            <span style="letter-spacing: 2px;">NBA top 60 assist</span><br><br>
            <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
            
        </div>
        <a href="https://www.youtube.com/watch?v=dtGteEJpX_s"><input type="button" name="button1" class="button2" value="WATCH"></a>
    </div>
    <div class="item4">
            <div class="bigtxt">
        <span style="letter-spacing: 1.5px;">NBA top 50 three pointers</span><br><br>
        <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
        
    </div>
    <a href="https://www.youtube.com/watch?v=s5zKZ7aot6M"><input type="button" name="button1" class="button2" value="WATCH" style="    background-color: white;
        color: black;"></a></div>
    

</div>
<div class="cont2">
    <div class="item3">
        <div class="bigtxt">
            <span style="letter-spacing: 2px;">Best of Kobe</span><br><br>
            <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
            
        </div>
        <a href="https://www.youtube.com/watch?v=1fjhIWJSxfw"><input type="button" name="button1" class="button2" value="WATCH"></a>
    </div>
    <div class="item4">
            <div class="bigtxt">
        <span style="letter-spacing: 1.5px;">Best of Kobe #2</span><br><br>
        <span class="txtsml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus.</span>
        
    </div>
    <a href="https://www.youtube.com/watch?v=T06yJR-Xzd4"><input type="button" name="button1" class="button2" value="WATCH" style="    background-color: white;
        color: black;"></a></div>
    

</div>
        <div>
            <span></span>
        </div>
</div>